<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    
    <span class="example-spacer"></span>
    <mat-icon>home</mat-icon>
    <span>{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
 

<mat-grid-list cols="4" rowHeight="100px">
  <mat-card-title> Licda Yoselin Del Carmen Silva Jimenez</mat-card-title> 
  </mat-grid-list>


<mat-card class="example-card">
    
    <mat-card-content>
      <p>
          Licenciada en Educación mención Informática,
          profesional en el área de la educación, 
          con énfasis en la informática,conocimientos tecnológicos en
         pagina web, redes , soporte tecnico  y mantenimiento, front End  Angular 6 
      </p>
    </mat-card-content>
    
  </mat-card>





 
        
     
                    
    


